body {
    background-color: rgb(32, 32, 32);
}

.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;

}

h1{
    font-size: 4rem;
    color: white;
}



.add-button {
    background-color: rgb(50, 233, 4);
}

.add-button:hover {
    background-color: rgb(35, 175, 0);
}

.edit-button {
    background-color:rgb(255, 230, 0)
}
.edit-button:hover {
    background-color:rgb(216, 194, 0)
}

.delete-button {
    border:none;
    background-color: transparent;
    font-size: 1.4rem;
    position: absolute;
    top:5px;
    right:5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(197, 0, 0);
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1px;
}

.text-input {
    display: flex;
    flex-direction: column;
    gap: 0px; 
}

.add-button {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 36px 20px;
    border: 2px solid rgb(0, 124, 10);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: rgb(50, 233, 4);
    align-self: center; 
}

.add-button:hover {
    background-color: rgb(35, 175, 0);
}


.note-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 8px; 
}

.note {
    color: black;
    background-color: rgb(240, 248, 255);
    padding: 6px; 
    margin: 16px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    max-width: 100%;  
    position: relative;
}

.note-title {
    padding-right: 20px;
}

@media (max-width: 600px) {
    .note {
        width: 100%;
        box-sizing: border-box;
    }
}




input[type="text"] {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
    border: 2px solid rgb(197, 197, 197);
    border-radius:5px;
    color: rgb(0, 0, 0);

}

ol{
    padding:0;
}
li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: azure;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex:1;
}

